/* Estilos globales para el cuerpo del documento */
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #EB97CA; /* Color de fondo */
}

/* Estilos para la barra de navegación */
nav {
    background-color: #EB97CA; /* Mismo color que el fondo del body */
    display: flex;
    justify-content: center; /* Centra el contenido */
    padding: 0; /* Elimina el relleno interno */
    margin: 0; /* Elimina los márgenes */
}

.navbar-nav {
    display: flex;
    list-style: none; /* Elimina el estilo de lista por defecto */
    padding: 0;
    margin: 0;
}

.navbar-nav li {
    position: relative;
}

.navbar-nav li a {
    display: block;
    color: #000000;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

.navbar-nav li a:hover {
    background-color: #EB97CA;
}

/* Estilos para el menú desplegable */
.navbar-nav li ul {
    display: none;
    position: absolute;
    background-color: #EB97CA;
    padding: 0;
}

.navbar-nav li:hover ul {
    display: block;
}

.navbar-nav li ul li {
    width: 200px;
}

.navbar-nav li ul li a {
    padding: 10px;
}

/* Estilos para el encabezado */
header {
    font-family: "Gabarito", sans-serif;
    background-color: #EB97CA;
    color: #000000;
    padding: 1rem 0;
    text-align: center;
}

/* Estilos para el contenido principal */
main {
    padding: 1rem;
}

/* Estilos para el pie de página */
footer {
    font-family: "Oswald", sans-serif;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Estilos para el slider */
.slider-container {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.slider-content {
    display: flex;
    transition: transform 0.5s ease;
}

.slider-item {
    min-width: 100%;
    flex: 0 0 auto;
}

.slider-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Estilos para los botones de navegación del slider */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: EB97CA;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Estilos para el contenedor del perfil */
.profile-container {
    text-align: center;
    padding-bottom: 200px;
}

.profile-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

/* Estilos para la galería de imágenes en el portafolio */
.card {
    overflow: hidden; /* Oculta el contenido desbordado */
}

.card-img-top {
    width: 100%;
    height: 200px; /* Ajusta la altura según sea necesario */
    object-fit: cover; /* Ajusta la imagen para llenar el contenedor sin distorsión */
    transition: transform 0.3s ease-in-out, object-fit 0.3s ease-in-out; /* Transición suave */
}

.card-img-top:hover {
    transform: scale(1.5); /* Aumenta el tamaño de la imagen */
    object-fit: contain; /* Muestra la imagen completa sin recortar */
    z-index: 2; /* Asegura que la imagen se muestre por encima de otros elementos */
}
.introduction {
    display: flex;
    align-items: center;
    text-align: left;
}

.text-container {
    flex: 1; /* Permite que el texto ocupe el espacio restante */
}

.introduction img {
    max-height: 400px; /* Ajusta el tamaño máximo de la imagen */
    max-width: 400px; /* Ajusta el tamaño máximo de la imagen */
    margin-right: 100px; /* Espacio entre el texto y la imagen */
}

.introduction h2 {
    margin-bottom: 1rem; /* Espacio debajo del título */
}
